<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

<div class="{% unless section.settings.full_width %}page-width{% endunless %}">
  <h2 class="title" {{ block.shopify_attributes }}>{{ section.settings.heading | escape }}<span>{{ section.settings.subheading | escape }}</span></h2>
  <div class="rich-text color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width{% endif %}">
    <div class="rich-text__blocks">
      <h2 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ section.settings.text_1 | escape }}</h2>
      <div class="rich-text__text rte" {{ block.shopify_attributes }}>{{ section.settings.subtext_1 }}</div>
      <a class="img_info" href="{{ section.settings.link_1 }}">
        <img
          srcset= "{{ section.settings.image_1 | img_url: '1500x' }}"
          src="{{ section.settings.image_1 | img_url: '1500x' }}"
          alt="{{ section.settings.image_1.alt }}"
          loading="lazy"
          width="{{ section.settings.image_1.width }}"
          height="{{ section.settings.image_1.height }}"
        >
      </a>
    </div>
    <div class="rich-text__blocks">
        <h2 class="{{ block.settings.heading_size }}" {{ block.shopify_attributes }}>{{ section.settings.text_2 | escape }}</h2>
        <div class="rich-text__text rte" {{ block.shopify_attributes }}>{{ section.settings.subtext_2 }}</div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "お知らせ",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width section_info",
  "settings": [
    {
      "type": "header",
      "content": "1つめ"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "INFORMATION",
      "label": "セクションタイトル"
    },
    {
      "type": "text",
      "id": "subheading",
      "default": "お知らせ",
      "label": "セクションサブタイトル"
    },
    {
      "type": "text",
      "id": "text_1",
      "label": "タイトル"
    },
    {
      "type": "richtext",
      "id": "subtext_1",
      "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
      "label": "t:sections.footer.blocks.text.settings.subtext.label"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "url",
      "id": "link_1",
      "label": "URL"
    },
    {
      "type": "header",
      "content": "2つめ"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "タイトル"
    },
    {
      "type": "richtext",
      "id": "subtext_2",
      "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
      "label": "t:sections.footer.blocks.text.settings.subtext.label"
    }
  ],
  "presets": [
    {
      "name": "お知らせ",
      "category": "お知らせ"
    }
  ]
}
{% endschema %}
